* {
    box-sizing: border-box;
}

:root {
    --bg-color: #000919d9;
}

body {
    margin: 0;
    background: url("./images/restuarant_bg.png") no-repeat center center fixed;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 10vh;
}

@font-face {
    font-family: "HyliaSerif";
    src: url("./fonts/HyliaSerifBeta-Regular.otf") format("opentype");
}

@font-face {
    font-family: "OpenSans";
    src: url("./fonts/OpenSans-Regular.ttf") format("truetype");
}

body>* {
    background-color: var(--bg-color);
    color: #dedede;
    font-family: "OpenSans";
}

.menu-grid,
header,
footer {
    text-align: center;
}

.title,
.food-name {
    font-family: "HyliaSerif";
}

.title {
    font-size: 48px;
}

.food-name {
    font-size: 28px;
}

.btn-list {
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 8px;
}

.btn-list button {
    background-color: inherit;
    color: inherit;
    font-family: inherit;
    font-size: 24px;
    border: none;
    cursor: pointer;
    transition: 0.7s;
}

.btn-list button:hover {
    margin-top: -16px;
}

.courage:hover,
.courage:active,
.courage.clicked {
    color: #65df6f;
}

.power:hover,
.power:active,
.power.clicked {
    color: #df6565;
}

.wisdom:hover,
.wisdom:active,
.wisdom.clicked {
    color: #6593df;
}

#content {
    background-color: var(--bg-color);
    align-self: center;
    padding: 5vh 5vw;
    border-radius: 4px;
    border: 1px solid #4f4949;
    text-align: center;
    font-size: 16px;
}

.homepage,
.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.homepage,
.menu-grid,
.contact {
    width: clamp(300px, 70vw, 800px);
    transition: opacity 0.5s ease-in;
}

.homePage-img {
    border-radius: 50%;
    width: min(85%, 300px);
    height: auto;
}

.menu-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 16px;
    padding: 10px 0;
}

.grid-card {
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: center;
    background-color: var(--bg-color);
    transition: all 0.4s ease-in;
}

.card-img {
    width: 200px;
    height: auto;
    align-self: center;
}

.grid-card:hover {
    box-shadow: -2px 2px 43px 3px #dedede;
}

.food-price {
    font-size: 20px;
    font-weight: bold;
}

.contact-img {
    width: min(85%, 550px);
    border: 1px solid #fff;
    border-radius: 4px;
}

footer {
    margin-top: auto;
}

footer a {
    text-decoration: none;
    color: #bebaba;
    transition: color 0.4s;
}

footer a:hover {
    color: #fcfcfc;
}

.footer-link>svg {
    vertical-align: bottom;
}

.invisible {
    opacity: 0;
}